<mat-toolbar color="primary">
    <button mat-button routerLink="/">Contacts</button>
    <span style="flex: 1 1 0"></span>
    <!-- <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/register">Register</button>
    <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/login">Login</button>
    <!-- <button *ngIf="auth.isAuthenticated" mat-button routerLink="/user">Welcome {{auth.name}}</button> -->
    <!-- <button *ngIf="auth.isAuthenticated" mat-button>Welcome {{auth.name}}</button>
    <button *ngIf="auth.isAuthenticated" mat-button (click)="auth.logout()">Logout</button> -->
</mat-toolbar>