<mat-card>
    <form
        *ngIf="form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        style="display: flex; flex-direction: column;"
    >   
        <mat-card-title>Contact Info</mat-card-title>
        <mat-form-field>
            <input
                matInput
                placeholder="First Name"
                type="text"
                formControlName="firstName"
                >
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Middle Name"
                type="text"
                formControlName="middleName"
                >
        </mat-form-field>
        
        <mat-form-field>
            <input
                matInput
                placeholder="Last Name"
                formControlName="lastName"
                type="text">
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Email"
                formControlName="email"
                type="email">
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                [matDatepicker]="picker"
                placeholder="Choose a date"
                formControlName="birthdate"
                [max]="maxDatepickerDate"
                >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div formArrayName="phones">
            <mat-card-title style="display: flex; justify-content: space-between;">
                Phones

                <button mat-button color="primary" (click)="addNewPhone()">Add new phone</button>
            </mat-card-title>
            
            <div
                *ngFor="let phone of form.get('phones').controls; let i = index"
                [formGroupName]="i"
            >
                <mat-form-field >
                    <input
                        matInput
                        placeholder="Phone Number"
                        formControlName="number"
                        type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Phone Type" formControlName="type">
                        <mat-option *ngFor="let type of phoneTypes" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-icon style="cursor: pointer;" (click)="removePhone(i)">delete</mat-icon>
            </div>
        </div>

        <div formGroupName="address" style="width: 100%; display: flex; flex-direction: column;">
            <mat-card-title>Address</mat-card-title>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Country"
                    formControlName="country"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="City"
                    formControlName="city"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Street"
                    formControlName="street"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Building"
                    formControlName="building"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Appartments"
                    formControlName="appartments"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Zip Code"
                    formControlName="zipCode"
                    type="text">
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary">{{ isContactNew ? "Create" : "Update" }} Contact</button>
    </form>
</mat-card>