<mat-card>
    <form
        #contactForm="ngForm"
        (ngSubmit)="onSubmit()"
        style="display: flex; flex-direction: column;"
    >   
        <mat-card-title>Contact Info</mat-card-title>
        <mat-form-field>
            <input
                matInput
                placeholder="First Name"
                type="text"
                [(ngModel)]="contact.firstName"
                name="firstName"
                required
                >
        </mat-form-field>
        
        <mat-form-field>
            <input
                matInput
                placeholder="Last Name"
                [(ngModel)]="contact.lastName"
                name="lastName"
                required
                type="text">
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Email"
                [(ngModel)]="contact.email"
                name="email"
                type="email">
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                [matDatepicker]="picker"
                placeholder="Choose a date"
                [(ngModel)]="contact.birthdate"
                name="birthdate"
                [max]="maxDatepickerDate"
                >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div>
            <mat-card-title style="display: flex; justify-content: space-between;">
                Phones

                <button mat-button color="primary" (click)="addNewPhone()" type="button">Add new phone</button>
            </mat-card-title>
            
            <div
                *ngFor="let phone of contact.phones; let i = index"
            >
                <div *ngIf="!phone.deleted">
                    <mat-form-field >
                        <input
                            matInput
                            placeholder="Country Code"
                            [(ngModel)]="phone.localNumber.countryCode"
                            name="countryCode{{i}}"
                            required
                            type="text">
                    </mat-form-field>
                    <mat-form-field >
                        <input
                            matInput
                            placeholder="Phone Number"
                            [(ngModel)]="phone.localNumber.number"
                            name="phoneNumber{{i}}"
                            required
                            type="text">
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-select placeholder="Phone Type"
                                    [(ngModel)]="phone.phoneType"
                                    name="phoneType{{i}}">
                            <mat-option *ngFor="let type of phoneTypes.values()" [value]="phoneTypes[type]">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-icon style="cursor: pointer;" (click)="removePhone(i)">delete</mat-icon>
                </div>
            </div>
        </div>

        <div style="width: 100%; display: flex; flex-direction: column;">
            <mat-card-title>Address</mat-card-title>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Country"
                    [(ngModel)]="contact.address.country"
                    name="country"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="City"
                    [(ngModel)]="contact.address.city"
                    name="city"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Street"
                    [(ngModel)]="contact.address.street"
                    name="street"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Building"
                    [(ngModel)]="contact.address.building"
                    name="building"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Appartment"
                    [(ngModel)]="contact.address.appartment"
                    name="appartment"
                    type="text">
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    placeholder="Zip Code"
                    [(ngModel)]="contact.address.zipCode"
                    name="zipCode"
                    type="text">
            </mat-form-field>
        </div>

        <button
            mat-raised-button
            color="primary"
            [disabled]="!contactForm.form.valid"
            >{{ isContactNew ? "Create" : "Update" }} Contact</button>
    </form>
</mat-card>