<mat-card>
    <form (ngSubmit)="update()">
            <mat-form-field>
                <input
                    matInput
                    placeholder="first name"
                    [(ngModel)]="userData.firstName"
                    name="firstName"
                    type="text">
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="last name"
                    [(ngModel)]="userData.lastName"
                    name="lastName"
                    type="text">
            </mat-form-field>
            <button mat-raised-button color="primary">Update User</button>
    </form>
</mat-card>