<mat-card style="margin: 8px" *ngIf="authService.isAuthenticated">
    <form (ngSubmit)="post()">
        <mat-card-content>
            <mat-form-field>
                <textarea
                    type="text"
                    matInput
                    placeholder="Message"
                    [(ngModel)]="message.text"
                    name="text"
                ></textarea>
            </mat-form-field>
            <mat-card-actions>
                <button mat-button color="primary">POST</button>
            </mat-card-actions>
        </mat-card-content>
    </form>
</mat-card>