<mat-card>
    <form (ngSubmit)="login()">
            <mat-form-field>
                <input
                    matInput
                    placeholder="UserName"
                    [(ngModel)]="loginData.userName"
                    name="userName"
                    type="userName">
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Password"
                    [(ngModel)]="loginData.password"
                     name="password"
                    type="password">
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>
    </form>
</mat-card>